body {
	margin: 0px;
	overflow: hidden;
}
.main {
	height: 100%;
}
.character {
    position: absolute;
    transition: left 500ms, top 500ms;
    transition-timing-function: linear;
    overflow: hidden;
}
.bullet {
    position: absolute;
    transition: left 250ms, top 250ms;
    transition-timing-function: linear;
    overflow: hidden;
}
.viewport {
    transition: left 500ms, top 500ms;
    transition-timing-function: linear;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
}
.background {
    height: 150px;
    width: 5000px;
    background-image: url("../images/forest.jpg");
}
.lifeline  {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.lifeline .total {
    width: 100px;
    height: 10px;
    display: table;
    margin: 0 auto;
    background-color: grey;
}
.lifeline  .total .remaining {
    width: 33px;
    height:10px;
    background-color: red;
}

